{% extends 'base.html.twig' %}

{% block title %}Departments{% endblock %}
{% block header %}Département{% endblock %}
{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ department.id }}</td>
            </tr>
            <tr>
                <th>Department_name</th>
                <td>{{ department.departmentName }}</td>
            </tr>
            <tr>
                <th>Department_desc</th>
                <td>{{ department.departmentDesc }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_departments_index') }}">back to list</a>

    <a href="{{ path('app_departments_edit', {'id': department.id}) }}">edit</a>

    {{ include('departments/_delete_form.html.twig') }}
{% endblock %}
