{% extends 'base.html.twig' %}

{% block title %}List Employee Category{% endblock %}

{% block styles %}
{# Datatables styles #}
{% include "datatable/styles.html.twig" %}
{% endblock %}

{% block header %}
Catégories des employés
{% endblock %}

{% block body %}
<div class="card card-outline">
	<div class="card-header">
		<a class="btn btn-success " href="{{ path('employee_category_new') }}">
			<i class="fas fa-plus-circle"></i>
			Nouvelle entrée
		</a>
	</div>
	<!-- /.card-header -->
	<div class="card-body">
		<table id="datatable" class="table table-bordered table-striped card-secondary card-outline table-hover">
			<thead class="table-default">
				<tr>
					<th>Nom</th>
					<th class="text-right">Salaire de base</th>
					<th class="text-right">Heures de travail</th>
					<th class="text-right">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for employee_category in employee_categories %}
				<tr>
					<td>{{ employee_category.name | upper }}</td>
					<td class="text-right">{{ employee_category.baseSalary | unit('€') }}</td>
					<td class="text-right">{{ employee_category.defaultHour | unit('h') }}</td>
					<td class="text-right">
						<div class="btn-group" role="group" aria-label="Basic example">
							<a href="{{ path('employee_category_show', {'id': employee_category.id}) }}">
								<button type="button" class="btn btn-primary btn-sm show-btn">
									<i class="fas fa-eye text-white"></i>
									Voir</button>
							</a>
							<a href="{{ path('employee_category_edit', {'id': employee_category.id}) }}">
								<button type="button" class="btn btn-secondary text-white btn-sm edit-btn">
									<i class="fas fa-edit text-white"></i>
									Modifier</button>
							</a>
							{{ include('employee_category/_delete_form.html.twig') }}
						</div>
					</td>
				</tr>
				{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div><!-- /.card-body -->
</div>
<!-- /.card -->
{% endblock %}
{% block scripts %}
{# Datatables scripts #}
{{ include('datatable/scripts.html.twig') }}
<script src="{{asset('js/delete-confirm.js')}} "></script>
{% endblock %}